/* src/styles/Header.css */

.header {
  width: 100%;
  height: 100px;
  background-color: #fff;
  display: flex;
  justify-content: center; /* 가운데 정렬 */
  box-sizing: border-box;
}

.header-container {
  width: 1280px;
  height: 100%;
  display: flex;
  align-items: flex-end;
}

.header-logo1 {
  margin-left: 30px;
  display: flex;
}

.logo-img1 {
  width: 80px;
  height: auto;
  object-fit: cover;
  cursor: pointer;
}

.header-logo2 {
  margin-left: 10px;
  display: flex;
}

.logo-img2 {
  width: 120px;
  height: auto;
  object-fit: cover;
  cursor: pointer;
}
